p{
    display: block;

}
#flash{
    z-index: 2 !important;
    position:fixed !important;
    bottom:0 !important;
    left:0 !important;
    width: 100vw !important;
    margin-bottom: 0 !important;
}
.account{
    width: 100vw;
    margin:0;
    margin-bottom: 5vh;
    left:0;

}