{%extends 'index.html'%}
{%block title%}
Registration
{%endblock%}
{%block body%}
<form method = "POST">
    <div>
        <image src = "{{url_for('static', filename = 'images/Logo2.png')}}" width = 500 height = 207></image>
        <br>
        <label>
            Name
        </label>
        <input type = "text" name = "firstname" class = "form-control" placeholder = "first name..." required>
        <input type = "text" name = "lastname" class = "form-control" placeholder = "last name..." required>
        <label>
            Email
        </label>
        <input type = "email" name = "email" class = "form-control" placeholder = "email..." required>
        <label>
            Password
        </label>
        <input type = "password" name = "password" class = "form-control" placeholder = "password..." required>
        <input type = "password" name = "confirm" class = "form-control" placeholder = "confirm the password..." required>
        <label>
            Description
        </label>
        <input type = "text" name = "description" class = "form-control" placeholder = "description..." required>
    </div>
    <button type = "submit" class = "btn btn-dark">
        Submit
    </button>
    <a class = "btn btn-dark" href = "/login/">
        Already have an account?
    </a>
</form>
{%endblock%}